    /*標籤名選擇器*/
    span{font-weight:bold;}
    body{background-color:palevioletred;font-family:"微軟正黑體"}
        /*ID 選擇器*/
    #del{text-decoration:line-through}    
        /*class 選擇器*/
        .all{background-color:palevioletred}
        .title{font-size:24px}
        .content{width:500px;margin-top:10px;border:1px dashed  white;padding:10px}
        .keyword{color:red}
        under line{text-decoration: underline}